body{
    background-color: rgb(22, 5, 44);
}

.card {
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 1px 20px;
    background-image: url("../assets/backgorund.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
}

a{
    text-decoration: none;
    color: black;
}

.instagram{
    list-style-image: url("../assets/Insta.png");
}

.twitter{
    list-style-image: url("../assets/Twitter.png");
}

.youtube{
    list-style-image: url("../assets/Youtube.png");
}
/* div {
    
    
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;

} */

/* h1 {
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    margin-left: 30px;
}

.list{
    list-style-type: none;
    background-image: url("assets/Insta.png");
    background-image: url("assets/Twitter.png");
    background-repeat: no-repeat;
} */

